* {
    border: 1px solid red;
    margin: auto;
    padding: 0;
    width: 980px;
}

* {
    background-color: yellow;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {background-color: yellow;}
    to {background-color: greenyellow;}
}