.style{
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.odd {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size{
    font-size: 24px;
}

#two {
    color: #00f;
    font-size: 36px;

}

#four{
    background-color: lightgreen;
    font-weight: bold;
    color: black;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;

}

.firstel,
.secondel {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.firstel {
    background-color: black;
    color: white;
}

.secondel {
    background-color: yellow;
}